<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    {{> navbar}}

    <div class="container">
        <h1>Welcome to Admin's Product Page</h1>
        <div class="product-image"
            style="height: 300px; width: 300px;background-image:url({{product.image}}); background-repeat: no-repeat; background-size: contain;">
        </div>
        <form action="/admin/editproduct" method="POST" enctype="multipart/form-data">
            Name : <input name="name" value={{product.name}} type="text" placeholder="Enter Name"> <br>
            Price : <input name="price" value={{product.price}}  type="number" placeholder="Enter Price"> <br>
            Update Image: <input name="image" type="file" placeholder="Upload Image"> <br>
            Description: <input value={{product.description}} name="description" type="text" placeholder="Enter Description"> <br>
            <input type="hidden" name="id" value={{product._id}}>
            <button type="submit">Update Product</button>
        </form>
    </div>
</body>

</html>